<body class="bdy">
    <h1 class=" text-center font-weight-bold" ><span class="headone btn-outline-success text-white mt-5">LIFE QUOTES</span></h1>
    <div class="row">
        <div class="col-md-1 "></div>
        <div class="col-md-4 text-white">
            <app-form-input (emitNewQuote)="saveQuote($event)"></app-form-input>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-4 mt-5">
            <div class="card" *ngFor="let quote of quotes; let i=index">
                <div class="card-header">
                    <p>Posted By ;<b>{{quote.name}}</b></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-uppercase">
                        {{quote.title}}</h5>
                    <p>{{quote.quote}}</p>
                    <p class="card-text"> <b>Author:</b> {{quote.author}}</p>
                    <p class="card-text"> {{quote.date | dateCount}} days ago</p>


                    <button class="btn btn-outline-success"><a (click)="thumbsup(i)"><i
                                class="fas fa-thumbs-up"></i></a>{{quote.thumbsup}}</button>
                    <button class="btn btn-outline-primary"><a (click)="thumbsdown(i)"><i
                                class="fas fa-thumbs-down"></i></a>{{quote.thumbsdown}}</button>



                    <button (click)=" delete(i)" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>