@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url('src/assets/img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
button{
    margin-right: 3%;
}
.card{
    margin-bottom: 5%;
}